:root {
    --ultra-dark: #24292d;
    --dark: #2b3137;
    --light: #f0f0f0;
    --dark-light: #c2c2c2;
    --darker-light: #a4a4a4;
    --green: #23d24c;
    --green-hover: #2fbb501a;
    --light-blue: #0d74e7;
}